html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  /* The body's only job is the background and font settings. */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="p" patternTransform="rotate(45)" width=".1" height=".1"><path d="M0 0.05L0.1 0.05" stroke="%2300ffff" stroke-width="0.005" stroke-linecap="square"/></pattern></defs><rect width="100%" height="100%" fill="%23101010"/><rect width="100%" height="100%" fill="url(%23p)"/></svg>');
}

/* #root is the container for the entire React app.
   IT should be the flex container that centers everything. */
#root {
  display: flex;
  justify-content: center; /* Horizontally center its child (.app-container) */
  padding: 2rem 1rem; /* Give space around the app */
  box-sizing: border-box;
}